<h1>{{title}}</h1>
<p>ingrese los datos para realizar su viaje</p>
<form action="viaje" method="post">
    Ingrese su nombre : <br>
    <input type="text" name="nombre" size = 20> <br>
    Ingrese su Ubicacion : <br>
    <input type="text" name="ubicacion" size= 20> <br>
    Ingrese su Destino : <br>
    <input type="text" name="destino" size = 20> <br>
    <input type="submit"  value = "Solicitar Viaje">
</form>
