<h1>
    hola !  {{nombre}} tu vaje ya esta listo
</h1>
<h2>
    Datos de solicitud de Viaje
</h2>
<h3>
    Ubucacion :  {{ubicacion}}
</h3>
<h3>
     Destino :  {{destino}}
</h3>
<br>
<h1>
    Datos de tu viaje
</h1>
<table style="width:100%">
    <tr>
        <th>
            Nombre de Conductor
        </th>
        <th>
            Vehiculo
        </th>
        <th>
            Linea
        </th>
        <th>
            Placa
        </th>
    </tr>
    <tr>
        <td>
            {{datos.conductor.nombre}}
        </td>
         <td>
            {{datos.conductor.carro}}
        </td>
         <td>
            {{datos.conductor.linea}}
        </td>
         <td>
            {{datos.conductor.placa}}
        </td>
    </tr>
</table>
<h2>Tiempo estimado de viaje  {{datos.tiempo}}</h2>
<h2>Distancia del viaje {{datos.distancia}}</h2>
<br>
<form action="/">
       <input type="submit"  value = "regresar">
        <input type="submit"  value = "ir a">
</form>

