<title>Conductores </title>
<h1>{{titulo}}</h1>
<p>listado de conductores disponibles</p>
<table  style="width:100%">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
        <th>
            Vehiculo
        </th>
        <th>
            Modelo
        </th>
        <th>
            Placa
        </th>
        <th>
            Ubicacion
        </th>
    </tr>
    {{#each conductores}}
        <tr>
            <td>{{id}}</td>
            <td>{{nombre}}</td>
            <td>{{carro}}</td>
            <td>{{linea}}</td>
            <td>{{placa}}</td>
            <td>{{ubicacion}}</td>
        </tr>
    {{/each}}
</table>
